.body{
    background-color: #f5f6fa;
}

.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.app__stats{
    display: flex;
    justify-content: space-between;
}


.App{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

@media(max-width: 990px){
    .App{
        flex-direction: column;
    }
}